.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-links {
  position: absolute;
  top: 1.5vh;
  font-size: 3vh;
}

.App-links ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.App-links li {
  color: #61dafb;
  display: inline;
  margin-right: 20px;
}

.App-pageTransition-enter {
  opacity: 0;
  /* transform: translateY(100%); */
}

.App-pageTransition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3000ms;
}

.App-pageTransition-exit {
  opacity: 1;
  transform: translateY(0);
}

.App-pageTransition-exit-active {
  opacity: 0;
  transition: opacity 0.1ms;
}

.Intro-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Intro-logo {
    animation: Intro-logo-spin infinite 3s linear;
  }
}

@keyframes Intro-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Intro-transition-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.Intro-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.Intro-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.Intro-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
  /* transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms; */
}

.Me img {
  height: 40vh;
}