body {
  color: #F6F6F6;
}

a {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

button {
  font-size: calc(10px + 2vmin);

  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  
  color: white;
  background-color: rgb(0, 0, 0, 0);
}

button:hover {
  transition: 300ms;
  background-color: rgba(255, 255, 255, 0.59);
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);

  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.App-links {
  position: absolute;
  top:1vh;
  /* font-size: 3vh; */
}

.App-links ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.App-links li {
  display: inline;
  margin-right: 20px;
}

.App-link-active, .App-links a:hover {
  color: #8785a27b;
  transition: 300ms;
}

.App-pageTransition-enter {
  opacity: 0;
}

.App-pageTransition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms;
}

.App-pageTransition-exit {
  opacity: 1;
  transform: translateY(0);
}

.App-pageTransition-exit-active {
  opacity: 0;
  transition: opacity 0.1ms;
}




.Intro {
  font-size: calc(20px + 2vmin);
}

.Intro-intro {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.Intro-title {
  display: inline-block;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  transition: 300ms;
}

.Intro-title:hover {
  color: #8785A2;
  transform: scale(1.5);
}

.Intro-button {
  width: 15px;
  height: 15px;
  color: white;
  border: 1px solid;
  border-radius: 100%;
  background-color: rgb(0, 0, 0, 0);
  margin-left: 1vw;
  margin-right: 1vw;
}

.Intro-link {
  font-size: calc(10px + 2vmin);
  padding: calc(0.5vmin);
  border-radius: 10px;
  border: 1px solid;
}

.Intro-button:hover, .Intro-button-active, .Intro-link:hover {
  transition: 300ms;
  background-color: rgba(255, 255, 255, 0.59);
}

.Intro-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Intro-logo {
    animation: Intro-logo-spin infinite 3s linear;
  }
}

@keyframes Intro-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Intro-transition-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.Intro-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.Intro-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.Intro-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}





.Me-header img {
  height: 40vh;

  border: 6px solid;
  border-radius: 10px;
}

.Me-header img, .Me-header h4:hover {
  cursor: pointer;
}

.Me-info img {
  position: absolute;
  top: 20vh;
  right: 10vw;

  height: 50vw;
  max-height: 600px;

  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */

  z-index: -1;
}

.Me-info-ul {
  list-style: none;
  padding: 15px;
}

.Me-info-li {
  text-align: left;
}

.Me-info-back {
  float: right;
}







.Project-list-container {
  width: 75vw;
  display: grid;
  overflow: hidden;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  padding: 5vw;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.Project-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5vh;
  padding-bottom: 5vh;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  font-size: calc(5px + 2vmin);

  transition: 300ms;
}

.Project-item img {
  width: 15vw;
  height: 15vw;
  color: white;
  border: 6px solid;
  border-radius: 10px;
}

.Project-item:hover {
  cursor: pointer;
}


/* 조금 작은 화면 */
@media(max-width: 1050px) {
  .Project-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .Project-item img {
    width: 24vw;
    height: 24vw;
  }
}

/* 많이 작은 화면에서 */
@media(max-width: 650px) {
  .Project-list-container {
    display: inherit;
  }
  .Project-item {
    margin-bottom: 5vw;
  }
  .Project-item img {
    width: 50vw;
    height: 50vw;
  }
}

.Project-show-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 70vw; */
  width: 800px;
  min-height: 75vh;
  
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

}

/* 조금 작은 화면 */
@media(max-width: 1000px) {
  .Project-show-container {
    width: 70vw;
  }
}

.Project-show-image img{
  width: 30vh;
  height: 30vh;

  border: 6px solid;
  border-radius: 10px;
}

.Project-show-image span {
  background-color: rgba(0, 0, 0, 0.085);

  position: absolute;
  right: calc((100vw - 30vh) / 2);

  padding: 8px;
  margin-top: 6px;

  font-size: 15px;
  width: 20px;
  height: 20px;

  font-weight: bold;
}

.Project-show-image button {
  background-color: rgba(0, 0, 0, 0.085);
  border: none;
  font-size: 15px;
}

.Project-show-go img {
  width: 48px;
  height: 48px;
  margin: 12px;
  border: none;
}

.Project-show-prev, .Project-show-next, .Project-show-exit {
  position: absolute;
  font-size: calc(20px + 2vmin);

  width: 60px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 0, 0);

  margin-left: 2vw;
  margin-right: 2vw;
}

.Project-show-prev {
  top: 52.5vh;
  left: calc((100vw - 800px) / 2 - 35px);

}

.Project-show-next {
  top: 52.5vh;
  right: calc((100vw - 800px) / 2 - 35px);

}

.Project-show-exit {
  top: 120px;
  right: calc((100vw - 800px) / 2 - 35px);
}

/* 조금 작은 화면 */
@media(max-width: 1000px) {
  .Project-show-prev {
    left: 10vw;
  }
  .Project-show-next {
    right: 10vw;
  
  }
  .Project-show-exit {
    right: 10vw;
  }
}

.Project-item:hover, .Project-show-prev:hover, .Project-show-next:hover, .Project-show-exit:hover {
  background-color: rgba(255, 255, 255, 0.5);
  scale: 1.03;
}








.Contact {
  border-radius: 10px;
  border: 1px solid;

  padding: 50px;
  margin-top: 10vh;
  margin-bottom: 10vh;

  width: 60vw;
  max-width: 550px;

  background-color: rgba(0, 0, 0, 0.085);
}

.Contact-sendForm {
  text-align: left;
}

.Contact form {
  padding-top: 0px;

  border-radius: 10px;
}

.Contact input, textarea {

  font-size: calc(3px + 2vmin);

  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  
  color: white;
  background-color: rgba(255, 255, 255, 0.194);
}

.Contact textarea {
  width: calc(100%  - 20px);
  height: 200px;
}

.Contact img {
  position: absolute;
  width: 64px;
  top: calc(50vh - 64px / 2);
  right: calc(50vw - 64px / 2);
}

@media (prefers-reduced-motion: no-preference) {
  .Contact img {
    animation: Contact-loading-spin infinite 3s linear;
  }
}


@keyframes Contact-loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}